/**/
 

.products{
	margin: 60px auto 60px;
	max-width: 960px;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 30px;
}

.product-item{
	border: 1px solid #aaa;
	text-align: center;
}

.myimg{
	width: 200px;
}

